body {
    padding-top: 56px;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* /////////////////////////////////////////////////////// */

.dataContainer {
    max-width: 80%;
    padding:3%;
}
.sidebar-max {
    max-width: 20%;
}

@media(max-width:767px){
    .dataContainer {
    max-width: 100%;
    width: 100%;
    }
}

.navbar-border {
    border-bottom: 1px solid #fff;
}



/* Credits: */
/* -------Sidebar------ */
/* https://stackoverflow.com/questions/49641293/bootstrap-4-fixed-top-nav-and-fixed-sidebar */
/* https://www.codeply.com/go/3e0RAjccRO/bootstrap-4-collapsing-sidebar-menu */
/* https://www.codeply.com/p/FpImnZeaPt */
/* https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp
 */

/* -------JSON & AJAX------ */
/* https://www.youtube.com/watch?v=rJesac0_Ftw */

/* https://rapidapi.com/api-sports/api/covid-193?endpoint=apiendpoint_2feca6f0-0f58-40b7-9196-98c45c7d5083 */

/* https://getbootstrap.com/docs/4.4/content/tables/ */
/* https://stackoverflow.com/questions/39260521/how-to-replace-all-the-zeros-in-javascript */
 
/* -------JQuery------ */
 /* https://www.w3schools.com/jquery/html_toggleclass.asp */